{% extends "base.html" %}
{% load static %}
{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock head %}
{% block title %}Employers-details{% endblock title %}
{% block body %}
  
  <main class="main-content">
    <!--== Start Page Header Area Wrapper ==-->
    <div class="page-header-area sec-overlay sec-overlay-black" data-bg-img="{% static 'assets/img/photos/bg2.webp' %}">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-12">
            <div class="page-header-content">
              <h2 class="title">Employers Details</h2>
              <nav class="breadcrumb-area">
                <ul class="breadcrumb justify-content-center">
                  <li><a href="/">Home</a></li>
                  <li class="breadcrumb-sep">//</li>
                  <li>Employers</li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Page Header Area Wrapper ==-->

    <!--== Start Employers Details Area Wrapper ==-->
    <section class="employers-details-area">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="employers-details-wrap">
              <div class="employers-details-info">
                <div class="thumb">
                  <img src="/media/{{ employers_details.logo }}" width="130" height="130" alt="Loding">
                </div>
                <div class="content">
                  <h4 class="title">{{ employers_details.companyname }}</h4>
                  <ul class="info-list">
                    <li><i class="icofont-location-pin"></i> {{ employers_details.companyaddress }}</li>
                    <li><i class="icofont-phone"></i> {{ employers_details.companyphone }}</li>
                  </ul>
                  {% if user.is_authenticated and user.is_student %}
                  <button type="button" class="btn-theme">Follow Us</button>
                  <button type="button" class="btn-theme btn-white">Add Review</button>
          
                {% else %}
                <button type="button" class="btn-theme">Edit</button>
                {% endif %}
                   </div>
              </div>
              <div class="employers-counter">
                <div class="counter-item">
                  <h4 class="counter">{{employers_details.companysize}}</h4>
                  <h5 class="title">Total jobs</h5>
                </div>
                <div class="counter-item">
                  <h4 class="counter">27</h4>
                  <h5 class="title">Review</h5>
                </div>
                <div class="counter-item">
                  <h4 class="counter">452</h4>
                  <h5 class="title">Views</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-7 col-xl-8">
            <div class="employers-details-item">
              <div class="content">
                <h4 class="title">About Employers</h4>
                <p class="desc">{{ employers_details.aboutcompany }}</p>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="content mb--0 pb-2">
                    <h4 class="title">Open Position</h4>
                  </div>
                </div>
               
              
                {% for job_postedtill in job_postedtills %}
                <div class="col-12 col-md-6 col-lg-12 col-xl-6">
                  <!--== Start Recent Job Item ==-->
                  <div class="recent-job-item recent-job-style3-item">
                    <div class="company-info">
                      <div class="logo">
                        <a href="company-details.html"><img src="{{ job_postedtill.joblogo  }} " width="75" height="75" alt="Image-HasTech"></a>
                      </div>
                      <div class="content">
                        <h4 class="name"><a href="company-details.html">{{ job_postedtill.companyname }}</a></h4>
                        <p class="address">{{ job_postedtill.location}}</p>
                      </div>
                    </div>
                    <div class="main-content">
                      <h3 class="title"><a href="job-details.html">{{ job_postedtill.jobcategory }}</a></h3>
                      <h5 class="work-type" data-text-color="#ff7e00">{{ job_postedtill.jobtype }}</h5>
                      <p class="desc">{{ job_postedtill.jobtags|slice:"35"  }}</p>
                    </div>
                    <div class="recent-job-info">
                      <div class="salary">
                        <h4>{{ job_postedtill.salary}}</h4>
                        <p>/monthly</p>
                      </div>
                      <a class="btn-theme btn-sm" href="/jobs/job-details/{{ job_postedtill.companyname }}/{{ job_postedtill.id }}">detail</a>
                    </div>
                  </div>
                  <!--== End Recent Job Item ==-->
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          
          <div class="col-lg-5 col-xl-4">
            <div class="employers-sidebar">
              <div class="widget-item">
                <div class="widget-title">
                  <h3 class="title">Information</h3>
                </div>
                <div class="summery-info">
                  <table class="table">
                    <tbody>
                      {% comment %} <tr>
                        <td class="table-name">Categories</td>
                        <td class="dotted">:</td>
                        <td>Design & Software</td>
                      </tr> {% endcomment %}
                      <tr>
                        <td class="table-name">Since</td>
                        <td class="dotted">:</td>
                        <td>1996</td>
                      </tr>
                     
                  
                      <tr>
                        <td class="table-name">Total Jobs</td>
                        <td class="dotted">:</td>
                        <td>87+</td>
                      </tr>
                      <tr>
                        <td class="table-name">Location</td>
                        <td class="dotted">:</td>
                        <td>{{ employers_details.companyaddress }}</td>
                      </tr>
                      <tr>
                        <td class="table-name">Team Members</td>
                        <td class="dotted">:</td>
                        <td>{{ employers_details.companysize }}</td>
                      </tr>
                      
                      <tr>
                        <td class="table-name">Phone</td>
                        <td class="dotted">:</td>
                        <td>{{employers_details.companyphone}}</td>
                      </tr>
                      <tr>
                        <td class="table-name">Email</td>
                        <td class="dotted">:</td>
                        <td>{{ employers_details.companyemail }}</td>
                      </tr>
                      <tr>
                        <td class="table-name">Website</td>
                        <td class="dotted">:</td>
                        <td data-text-color="#ff6000">{{ employers_details.companywebsite }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="widget-item">
                <div class="widget-title">
                  <h3 class="title">Share With</h3>
                </div>
                <div class="social-icons">
                  <a href="https://www.facebook.com" target="_blank" rel="noopener"><i class="icofont-facebook"></i></a>
                  <a href="https://twitter.com" target="_blank" rel="noopener"><i class="icofont-twitter"></i></a>
                  <a href="https://www.skype.com" target="_blank" rel="noopener"><i class="icofont-skype"></i></a>
                  <a href="https://www.pinterest.com" target="_blank" rel="noopener"><i class="icofont-pinterest"></i></a>
                  <a href="https://dribbble.com/" target="_blank" rel="noopener"><i class="icofont-dribbble"></i></a>
                </div>
              </div>
              <div class="widget-item widget-contact">
                <div class="widget-title">
                  <h3 class="title">Contact Now</h3>
                </div>
                <div class="widget-contact-form">
                  <form id="contact-form" action="https://whizthemes.com/mail-php/raju/arden/mail.php" method="POST">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group">
                          <input class="form-control" type="text" name="con_name" placeholder="Name:">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <input class="form-control" type="email" name="con_email" placeholder="Email:">
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group">
                          <textarea class="form-control" name="con_message" placeholder="Message"></textarea>
                        </div>
                      </div>
                      <div class="col-md-12">
                        <div class="form-group mb--0">
                          <button class="btn-theme d-block w-100" type="submit">Send Message</button>
                        </div>
                      </div>
                    </div>
                  </form>

                  <!--== Message Notification ==-->
                  <div class="form-message"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Employers Details Area Wrapper ==-->
  </main>

  <!--== Start Footer Area Wrapper ==-->
  <footer class="footer-area">
    <!--== Start Footer Top ==-->
    <div class="footer-top">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-lg-5">
            <div class="footer-newsletter-content">
              <h4 class="title">Subscribe for everyday job newsletter.</h4>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="footer-newsletter-form">
              <form action="#">
                <input type="email" placeholder="Enter your email">
                <button type="submit" class="btn-newsletter">Subscribe Now</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Footer Top ==-->

    <!--== Start Footer Main ==-->
    <div class="footer-main">
      <div class="container pt--0 pb--0">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="widget-item widget-about">
              <div class="widget-logo-area">
                <a href="index.html">
                  <img class="logo-main" src="assets/img/logo-light-theme.webp" alt="Logo" />
                </a>
              </div>
              <p class="desc">That necessitat ecommerce platform that optimi your store popularised the release</p>
              <div class="social-icons">
                <a href="https://www.facebook.com" target="_blank" rel="noopener"><i class="icofont-facebook"></i></a>
                <a href="https://www.skype.com" target="_blank" rel="noopener"><i class="icofont-skype"></i></a>
                <a href="https://twitter.com" target="_blank" rel="noopener"><i class="icofont-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="row">
              <div class="col-md-3 col-lg-3">
                <div class="widget-item nav-menu-item1">
                  <h4 class="widget-title">Company</h4>
                  <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-1">Company</h4>
                  <div id="widgetId-1" class="collapse widget-collapse-body">
                    <div class="collapse-body">
                      <div class="widget-menu-wrap">
                        <ul class="nav-menu">
                          <li><a href="about-us.html">About Us</a></li>
                          <li><a href="about-us.html">Why Extobot</a></li>
                          <li><a href="contact.html">Contact With Us</a></li>
                          <li><a href="contact.html">Our Partners</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-lg-3">
                <div class="widget-item nav-menu-item2">
                  <h4 class="widget-title">Resources</h4>
                  <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-2">Resources</h4>
                  <div id="widgetId-2" class="collapse widget-collapse-body">
                    <div class="collapse-body">
                      <div class="widget-menu-wrap">
                        <ul class="nav-menu">
                          <li><a href="account-login.html">Quick Links</a></li>
                          <li><a href="job.html">Job Packages</a></li>
                          <li><a href="job.html">Post New Job</a></li>
                          <li><a href="job.html">Jobs Listing</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-lg-3">
                <div class="widget-item nav-menu-item3">
                  <h4 class="widget-title">Legal</h4>
                  <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-3">Legal</h4>
                  <div id="widgetId-3" class="collapse widget-collapse-body">
                    <div class="collapse-body">
                      <div class="widget-menu-wrap">
                        <ul class="nav-menu">
                          <li><a href="account-login.html">Affiliate</a></li>
                          <li><a href="blog.html">Blog</a></li>
                          <li><a href="account-login.html">Help & Support</a></li>
                          <li><a href="job.html">Careers</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-lg-3">
                <div class="widget-item nav-menu-item4">
                  <h4 class="widget-title">Products</h4>
                  <h4 class="widget-collapsed-title collapsed" data-bs-toggle="collapse" data-bs-target="#widgetId-4">Products</h4>
                  <div id="widgetId-4" class="collapse widget-collapse-body">
                    <div class="collapse-body">
                      <div class="widget-menu-wrap">
                        <ul class="nav-menu">
                          <li><a href="account-login.html">Star a Trial</a></li>
                          <li><a href="about-us.html">How It Works</a></li>
                          <li><a href="account-login.html">Features</a></li>
                          <li><a href="about-us.html">Price & Planing</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
 
    {% endblock body %}