{% extends "base.html" %}
{% load static %}
{% block head %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock head %}
{% block title %}job_posts{% endblock title %}
{% block body %}
<main class="main-content">
  <!--== Start Page Header Area Wrapper ==-->
  <div class="page-header-area sec-overlay sec-overlay-black" data-bg-img="{% static 'assets/img/photos/bg2.webp' %}">
    <div class="container pt--0 pb--0">
      <div class="row">
        <div class="col-12">
          <div class="page-header-content">
            <h2 class="title">Job</h2>
            <nav class="breadcrumb-area">
              <ul class="breadcrumb justify-content-center">
                <li><a href="/">Home</a></li>
                <li class="breadcrumb-sep">//</li>
                <li>Job-Post</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--== End Page Header Area Wrapper ==-->



    <!--== Start Login Area Wrapper ==-->
    
    <div class="job-post">
      <div class="container">
        <form method="POST" class="job-post-from" enctype="multipart/form-data">
          {% csrf_token %}
          <h2>Fill Up Your Job information</h2>
          <div class="row">
            <div class="text-center ">
            <img src="assets/img/testimonial/img-1.jpg" id="blah"
            class="img-fluid avatar avatar-medium d-block mx-auto image-shape" alt="">
        <label class="text-muted mb-3">Company Logo<span class="text-danger">*</span>
            :</label>
        <input type='file' name="joblogo" onchange="readURL(this);" class="choose-input mb-3" />
    </div>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(110)
                        .height(110);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
    </script>
            
            <div class="col-md-6">
              <div class="form-group">
                <label>Job Title</label>
                <input type="text" class="form-control" name="jobtitle" id="exampleInput1" placeholder="Job Title or Keyword" required>
              </div>
            </div>
            <div class="col-lg-auto col-sm-6 col-12 flex-grow-1">
              <div class="form-group">
                <label>Job Category</label>
                <input type="text" class="form-control" name="jobcategory" id="exampleInput1" placeholder="Job Category" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Company Name</label>
                <input type="text" class="form-control" name="companyname"id="exampleInput2" placeholder="Company Name" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Company Email</label>
                <input type="email" class="form-control" name="companymail" id="exampleInput3" name="companymail" placeholder="e.g. hello@company.com" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Location</label>
                <input type="text" class="form-control" id="exampleInput5" name="location" placeholder="e.g. London" required>
              </div>
            </div>
            <div class="col-lg-auto col-sm-6 col-12 flex-grow-1">
              <div class="form-group">
                <label>Job Type</label>
                <select class="form-control">
                  <option value="1">Full-Time</option>
                  <option value="2">Part-Time</option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Job Tags</label>
                <input type="text" class="form-control" name="jobtags" id="exampleInput6"
                  placeholder="e.g. web design, graphics design, video editing" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Salary (Optional)</label>
                <input type="number" class="form-control" name="salary" id="exampleInput7" placeholder="e.g. $20,000">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Experience</label>
                <input type="text" class="form-control" name="experience" id="exampleInput8" placeholder="e.g. 1 year" required>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="exampleFormControlTextarea1">aboutcompany</label>
                <textarea class="form-control description-area" name="aboutcompany" id="exampleFormControlTextarea1" rows="6"
                  placeholder="About company" required></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Job Description</label>
                <textarea class="form-control description-area" name="jobdescription" id="exampleFormControlTextarea1" rows="6"
                  placeholder="Job Description" required></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Requirements</label>
                <textarea class="form-control description-area" name="requirements"  rows="6"
                  placeholder="Requirements" required></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="exampleFormControlTextarea1">responsibilities</label>
                <textarea class="form-control description-area" name="responsibilities" id="exampleFormControlTextarea1" rows="6"
                  placeholder="Responsibilities" required></textarea>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="exampleFormControlTextarea1">Benefits</label>
                <textarea class="form-control description-area" name="benefits" id="exampleFormControlTextarea1" rows="6"
                  placeholder="Benefits" required></textarea>
              </div>
            </div>
            <div class="col-md-12 text-center">
              <button type="submit" class="btn-theme btn-sm">
                Post A Job
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    </div>
    <!--== End Login Area Wrapper ==-->
  </main>

{% endblock body %} 