{% extends "base.html" %}
{% load static %}
{% block head %}

{% endblock head %}
{% block title %}jobs{% endblock title %}
{% block body %}
<main class="main-content">
  <!--== Start Page Header Area Wrapper ==-->
  <div class="page-header-area sec-overlay sec-overlay-black" data-bg-img="{% static 'assets/img/photos/bg2.webp' %}">
    <div class="container pt--0 pb--0">
      <div class="row">
        <div class="col-12">
          <div class="page-header-content">
            <h2 class="title">Job</h2>
            <nav class="breadcrumb-area">
              <ul class="breadcrumb justify-content-center">
                <li><a href="/">Home</a></li>
                <li class="breadcrumb-sep">//</li>
                <li>Job</li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--== End Page Header Area Wrapper ==-->


    <!--== Start Recent Job Area Wrapper ==-->
    <section class="recent-job-area recent-job-inner-area">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <!--== Start Recent Job Item ==-->
            <div class="recent-job-item recent-job-style2-item">
              <div class="company-info">
                <div class="logo">
                  <a href="company-details.html"><img src="{% static 'assets/img/companies/w1.webp' %}" width="75" height="75" alt="Image-HasTech"></a>
                </div>
               
                <div class="content">
                  <h4 class="name"><a href="company-details.html">{{job_postedtill.companyname}}</a></h4>
                  <p class="address">{{job_postedtill.location}}</p>
                </div>
              </div>
              <div class="main-content">
                <h3 class="title">{{job_postedtill.jobcategory}}</h3>
                <h5 class="work-type">{{job_postedtill.jobtype}}</h5>
                <p class="desc">{{job_posstedtill.jobtags}}</p>
              </div>
              <div class="recent-job-info">
                <div class="salary">
                  <h4>{{job_postedtill.salary}}</h4>
                  <p>/monthly</p>
                </div>
                <a class="btn-theme btn-sm" href="/jobs/job-details/{{ job_postedtill.companyname }}/{{ job_postedtill.id }}">show</a>
              </div>
            </div>
            <!--== End Recent Job Item ==-->
          </div>
       
         
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="pagination-area">
              <nav>
                <ul class="page-numbers d-inline-flex">
                  <li>
                    <a class="page-number active" href="job.html">1</a>
                  </li>
                  <li>
                    <a class="page-number" href="job.html">2</a>
                  </li>
                  <li>
                    <a class="page-number" href="job.html">3</a>
                  </li>
                  <li>
                    <a class="page-number next" href="job.html">
                      <i class="icofont-long-arrow-right"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Recent Job Area Wrapper ==-->
  </main>

 {% endblock body %}